<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <ul>
        <li><a th:href="@{/secured/contact}">Mes contacts</a></li>
        <li><a th:href="@{/secured/contact/create}">Ajouter un contact</a></li>
    </ul>
</nav>
    <h1>Nouveau contact</h1>
    <form action="#" th:action="@{/secured/contact/create}" th:object="${contact}" method="post">
        <p>Prenom: <input type="text" th:field="*{prenom}" /></p>
        <p>Nom: <input type="text" th:field="*{nom}" /></p>

        <p>Surnom: <input type="text" th:field="*{surnom}" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
</body>
</html>